.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 0 18px;

  @media #{$media-min-laptop} {
    flex-direction: row;
    padding: 0 100px;
  }
}
