.carousel {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  padding: 0 18px;

  @media #{$media-min-laptop} {
    flex-direction: row;
    padding: 0 100px;
  }

  &__item {
    & + & {
      @media #{$media-min-laptop} {
        margin-left: 20px;
      }
    }
  }
}
