.content-section {
  display: block;
  @include responsive-width();
  margin: 0 auto 80px;

  &--medium {
    max-width: 940px;
  }

  &__title {
    display: block;
    padding: $padding-normal 0;
  }
}
