.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: $header-height;
  @include responsive-width();

  &__logo {
    flex-basis: 120px;
  }

  &__navigation {
    flex-grow: 2;
  }
  &__column {
    align-self: center;
  }
}
