@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0; }

#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  line-height: 1.5; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  background: #cfb995;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 20px;
  display: block;
  margin-bottom: 10px;
  text-decoration: none; }
  @media only screen and (min-width: 1024px) {
    .button {
      max-width: 295px; } }
  .button--fullwidth {
    max-width: 100%; }
  .button--ghost {
    background: none;
    border: solid 1px #ffffff; }
  .button--red {
    background-color: #fa454b; }

.details-table--boxed {
  padding: 28px;
  border-radius: 2px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff; }

.details-table__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 0; }
  .details-table__row--featured {
    padding-top: 15px;
    font-weight: bold; }

.link-item {
  display: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 0 25px; }
  @media only screen and (min-width: 1024px) {
    .link-item {
      display: block; } }

.rating-box {
  display: block;
  width: 77px;
  border-radius: 5px;
  padding: 8px;
  background-color: #f1eade;
  text-align: center;
  color: #000000; }
  .rating-box__title {
    font-size: 10px;
    text-align: center;
    text-decoration: underline; }
  .rating-box__value {
    font-size: 16px;
    font-weight: bold; }

.section-title {
  display: block;
  padding: 18px; }
  @media only screen and (min-width: 1024px) {
    .section-title {
      padding: 32px 100px; } }
  .section-title__title {
    text-align: left;
    object-fit: contain;
    font-size: 20px;
    font-weight: 600;
    color: #000000; }

.title {
  text-align: left; }
  .title__main {
    text-shadow: 1px 1px 1px rgba(214, 214, 214, 0.5);
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 18px; }
    @media only screen and (min-width: 1024px) {
      .title__main {
        font-size: 40px; } }
  .title__subtitle {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 18px; }
    .title__subtitle span {
      color: red; }
    @media only screen and (min-width: 1024px) {
      .title__subtitle {
        font-size: 20px; } }

.banner {
  width: 100%;
  height: 40vh;
  background: #000000;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 17px; }
  .banner--main {
    height: 90vh; }
  @media only screen and (min-width: 1024px) {
    .banner {
      height: 460px; } }
  .banner__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: block; }
    .banner__image div {
      width: 100%;
      height: 100%;
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: "object-fit: cover;"; }
  .banner__content {
    width: 800px;
    padding: 0 18px;
    z-index: 1; }
    @media only screen and (min-width: 1024px) {
      .banner__content {
        padding: 0 97px; } }
    .banner__content::after {
      content: "";
      background: rgba(27, 27, 27, 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1; }
  .banner__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px; }
    .banner__buttons-container > div {
      margin-bottom: 20px; }
    @media only screen and (min-width: 1024px) {
      .banner__buttons-container {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between; } }

.brand-logos {
  display: flex;
  padding: 25px 18px 55px;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-align: left; }
  @media only screen and (min-width: 1024px) {
    .brand-logos {
      padding: 25px 100px 55px;
      overflow: hidden;
      flex-wrap: wrap; } }
  .brand-logos__item + .brand-logos__item {
    margin-left: 50px; }
  @media only screen and (min-width: 1024px) {
    .brand-logos__item {
      min-width: 300px; }
      .brand-logos__item + .brand-logos__item {
        margin-left: 0px; } }

.navigation {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 22px;
      list-style: none; } }

.promo-section {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 18px;
  color: #ffffff;
  text-align: left; }
  @media only screen and (min-width: 1024px) {
    .promo-section {
      padding: 20px 100px;
      align-content: center;
      text-align: center; } }
  .promo-section__column {
    padding-right: 38px; }
  .promo-section__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .promo-section__subtitle {
    font-size: 20px;
    font-weight: 600; }

.secondary-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .secondary-navigation li {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .secondary-navigation__item {
    display: none; }
    @media only screen and (min-width: 1024px) {
      .secondary-navigation__item {
        display: flex; } }
    @media only screen and (min-width: 1024px) {
      .secondary-navigation__item--visible-mobile {
        display: flex; } }
  .secondary-navigation__separator {
    height: 36px;
    width: 50px;
    position: relative; }
    .secondary-navigation__separator::after {
      height: 100%;
      width: 1px;
      content: " ";
      position: absolute;
      right: 50%;
      background-color: #e7e7e7; }

.vehicle-box {
  width: 100%;
  border-radius: 2px;
  border: solid 1px #efefef;
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  margin-bottom: 18px; }
  @media only screen and (min-width: 1024px) {
    .vehicle-box {
      width: 295px; } }
  .vehicle-box__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .vehicle-box__title {
    text-align: left; }
    .vehicle-box__title h4 {
      font-weight: bold;
      font-size: px-to-rem(18px); }
    .vehicle-box__title h5 {
      font-size: 14px;
      font-weight: 300;
      color: #7f7f7f; }
  .vehicle-box__image {
    width: 268px;
    height: 179px;
    object-fit: contain; }
    .vehicle-box__image img {
      max-width: 100%; }
  .vehicle-box__details {
    padding: 5px 0; }
  .vehicle-box__bottom {
    padding: 30px 0; }

.carousel {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 18px; }
  @media only screen and (min-width: 1024px) {
    .carousel {
      flex-direction: row;
      padding: 0 100px; } }
  @media only screen and (min-width: 1024px) {
    .carousel__item + .carousel__item {
      margin-left: 20px; } }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 18px;
  height: 62px; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding: 0 100px; } }
  .header__logo {
    flex-basis: 120px; }
  .header__navigation {
    flex-grow: 2; }
  .header__column {
    align-self: center; }
