@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0;
  min-width: 360px; }

.main-layout {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  line-height: 1.5; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  background: none;
  border: solid 1px #ffffff;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 200ms linear; }
  .button--sorrel-brown {
    background-color: #cfb995;
    border: solid 1px #cfb995; }
    .button--sorrel-brown:hover {
      background-color: #bfa272;
      border-color: #bfa272;
      cursor: pointer; }
  .button--red {
    background-color: red;
    border: solid 1px red; }
    .button--red:hover {
      background-color: #cc0000;
      border-color: #cc0000;
      cursor: pointer; }
  .button--green {
    background-color: #65b77e;
    border: solid 1px #65b77e; }
    .button--green:hover {
      background-color: #4a9f64;
      border-color: #4a9f64;
      cursor: pointer; }
  .button--slim {
    padding: 10px 10px;
    font-size: 12px; }
  @media only screen and (min-width: 640px) {
    .button + .button {
      margin-left: 18px; } }
  @media only screen and (min-width: 1024px) {
    .button {
      max-width: 295px; } }
  .button--fullwidth {
    max-width: 100%; }

.link-item, .dropdown-link-item-container__label {
  display: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 0 18px;
  position: relative;
  cursor: pointer; }
  @media only screen and (min-width: 1024px) {
    .link-item, .dropdown-link-item-container__label {
      display: block; } }

.section-title {
  text-align: left;
  object-fit: contain;
  font-size: 20px;
  font-weight: 600;
  color: #000000; }

.title {
  text-align: left; }
  .title__main {
    text-shadow: 1px 1px 1px rgba(214, 214, 214, 0.5);
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 18px; }
    @media only screen and (min-width: 1024px) {
      .title__main {
        font-size: 40px; } }
  .title__subtitle {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 18px; }
    .title__subtitle span {
      color: red; }
    @media only screen and (min-width: 1024px) {
      .title__subtitle {
        font-size: 20px; } }

.banner {
  width: 100%;
  background: #000000;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 17px; }
  @media only screen and (min-width: 1024px) {
    .banner {
      height: 460px; } }
  .banner__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: block; }
    .banner__image div {
      width: 100%;
      height: 100%;
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
  .banner__content {
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px; }
    @media only screen and (min-width: 1024px) {
      .banner__content {
        max-width: 1220px; } }
    @media only screen and (min-width: 1600px) {
      .banner__content {
        padding-left: 0;
        padding-right: 0; } }
    @media only screen and (max-width: 1599.9px) {
      .banner__content {
        padding-top: 36px;
        padding-bottom: 36px; } }
    .banner__content::after {
      content: "";
      background: rgba(27, 27, 27, 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1; }
  .banner__content-inner {
    max-width: 600px; }
  .banner--no-overlay .banner__content::after {
    display: none; }
  .banner__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    align-items: center; }
    .banner__buttons-container > * {
      margin-bottom: 20px; }
    @media only screen and (min-width: 640px) {
      .banner__buttons-container {
        flex-direction: row;
        max-width: 100%;
        align-items: initial;
        justify-content: space-between; } }

.brand-logos {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-align: left; }
  .brand-logos__item {
    min-width: 200px; }
    .brand-logos__item + .brand-logos__item {
      margin-left: 50px; }
    @media only screen and (min-width: 1024px) {
      .brand-logos__item {
        min-width: 300px; }
        .brand-logos__item + .brand-logos__item {
          margin-left: 0px; } }

.details-table {
  font-size: 14px; }
  .details-table--boxed {
    padding: 18px;
    border-radius: 2px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff; }
  .details-table__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 0; }
    .details-table__row--featured {
      padding-top: 15px;
      font-weight: bold; }

.dropdown-link-item-container__checkbox {
  display: none; }

.navigation-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 18px;
  background: #ffffff;
  width: 233px;
  border: solid 1px #e8e8e8;
  border-top: none;
  z-index: 2; }
  .secondary-navigation .dropdown-link-item-container__checkbox:checked + .navigation-dropdown {
    display: block; }
  .navigation-dropdown__item + .navigation-dropdown__item {
    padding-top: 18px; }
  .navigation-dropdown__item--separator {
    padding: 9px 0;
    margin-bottom: 9px;
    border-bottom: 1px solid #4f4f4f; }
  .navigation-dropdown__link {
    font-family: Montserrat;
    text-align: inherit;
    color: #000000;
    text-decoration: none; }

.navigation {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 22px;
      list-style: none; } }

.offer-box {
  display: block;
  width: 100%; }
  @media only screen and (min-width: 640px) {
    .offer-box {
      max-width: 308px; } }

.offer-ranking-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline; }
  @media only screen and (min-width: 640px) {
    .offer-ranking-item {
      flex-wrap: nowrap;
      align-items: flex-end; } }
  .offer-ranking-item__title {
    font-size: 14px;
    padding-right: 18px;
    text-align: left;
    flex-grow: 2; }
    @media only screen and (min-width: 640px) {
      .offer-ranking-item__title {
        flex-grow: initial;
        flex-basis: auto; } }
  .offer-ranking-item__line {
    display: none; }
    @media only screen and (min-width: 640px) {
      .offer-ranking-item__line {
        flex-grow: 1;
        display: block;
        position: relative;
        padding-right: 18px;
        align-self: flex-end; } }
    .offer-ranking-item__line::after {
      position: absolute;
      bottom: 4px;
      content: " ";
      height: 2px;
      left: 0;
      width: 100%;
      background: #a142f4; }
  @media only screen and (min-width: 640px) {
    .offer-ranking-item__rating {
      padding-left: 18px; } }
  .offer-ranking-item__button {
    margin-top: 18px;
    width: 100%; }
    @media only screen and (min-width: 640px) {
      .offer-ranking-item__button {
        padding-left: 18px;
        width: auto; } }

.promo-section {
  background-color: #000000;
  padding-top: 18px;
  padding-bottom: 18px; }
  @media only screen and (min-width: 1024px) {
    .promo-section {
      align-content: center;
      text-align: center; } }
  .promo-section__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #ffffff;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px; }
    @media only screen and (min-width: 1024px) {
      .promo-section__inner {
        max-width: 1220px; } }
    @media only screen and (min-width: 1600px) {
      .promo-section__inner {
        padding-left: 0;
        padding-right: 0; } }
  .promo-section__column {
    padding-right: 38px; }
  .promo-section__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .promo-section__subtitle {
    font-size: 20px;
    font-weight: 600; }

.rating-box {
  display: block;
  width: 77px;
  border-radius: 5px;
  padding: 8px;
  background-color: #cfb995;
  text-align: center;
  color: #000000; }
  .rating-box--squared {
    border-radius: 0; }
  .rating-box__title {
    font-size: 10px;
    text-align: center;
    text-decoration: underline; }
  .rating-box__value {
    font-size: 16px;
    font-weight: bold; }

.secondary-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .secondary-navigation li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; }
  .secondary-navigation__item {
    display: none; }
    @media only screen and (min-width: 1024px) {
      .secondary-navigation__item {
        display: flex; } }
    @media only screen and (min-width: 1024px) {
      .secondary-navigation__item--visible-mobile {
        display: flex; } }
  .secondary-navigation__separator {
    height: 36px;
    width: 50px;
    position: relative; }
    .secondary-navigation__separator::after {
      height: 100%;
      width: 1px;
      content: " ";
      position: absolute;
      right: 50%;
      background-color: #e7e7e7; }

.vehicle-box {
  width: 100%;
  border-radius: 2px;
  padding: 18px;
  text-align: left;
  margin-bottom: 18px;
  flex: 1;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .vehicle-box {
      width: 295px; } }
  .vehicle-box__active-area {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .vehicle-box__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .vehicle-box__title {
    text-align: left; }
    .vehicle-box__title h4 {
      font-weight: bold;
      font-size: px-to-rem(18px); }
    .vehicle-box__title h5 {
      font-size: 14px;
      font-weight: 300;
      color: #7f7f7f; }
  .vehicle-box__image {
    width: 268px;
    height: 179px;
    object-fit: contain; }
    .vehicle-box__image img {
      max-width: 100%; }
  .vehicle-box__details {
    padding: 5px 0; }
  .vehicle-box__bottom {
    padding: 30px 0; }

.carousel {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 640px) {
    .carousel {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media only screen and (min-width: 1024px) {
    .carousel {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-y: auto; } }
  .carousel__item {
    border: solid 1px #efefef;
    background-color: #ffffff;
    flex-basis: 1; }
    @media only screen and (max-width: 919.9px) {
      .carousel__item {
        flex-basis: 48%;
        margin-bottom: 18px; } }
    @media only screen and (min-width: 1024px) {
      .carousel__item + .carousel__item {
        margin-left: 18px; } }

.content-section {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
  margin: 80px auto; }
  @media only screen and (min-width: 1024px) {
    .content-section {
      max-width: 1220px; } }
  @media only screen and (min-width: 1600px) {
    .content-section {
      padding-left: 0;
      padding-right: 0; } }
  .content-section--medium {
    max-width: 940px; }
  .content-section__title {
    display: block;
    padding: 18px 0; }

.featured-list {
  display: flex;
  flex-direction: column; }
  .featured-list__item {
    padding-bottom: 18px; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 62px;
  width: 100%;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px; }
  @media only screen and (min-width: 1024px) {
    .header {
      max-width: 1220px; } }
  @media only screen and (min-width: 1600px) {
    .header {
      padding-left: 0;
      padding-right: 0; } }
  .header__logo {
    flex-basis: 120px; }
  .header__navigation {
    flex-grow: 2; }
  .header__column {
    align-self: center; }
