@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0;
  min-width: 360px;
}
.main-layout {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  line-height: 1.5;
}
