$max-layout-width: 1276px;
$width-phone-start: 320px;
$width-phablet-start: 640px;
$width-tablet-start: 920px;
$width-laptop-start: 1024px;
$width-desktop-start: 1600px;
$width-phone-end: $width-phablet-start - 0.1px;
$width-phablet-end: $width-tablet-start - 0.1px;
$width-tablet-end: $width-laptop-start - 0.1px;
$width-laptop-end: $width-desktop-start - 0.1px;

$width-layout-max: $max-layout-width + 40px;

$media-min-phone: "only screen and (min-width: #{$width-phone-start})";
$media-min-phablet: "only screen and (min-width: #{$width-phablet-start})";
$media-min-tablet: "only screen and (min-width: #{$width-tablet-start})";
$media-min-laptop: "only screen and (min-width: #{$width-laptop-start})";
$media-min-desktop: "only screen and (min-width: #{$width-desktop-start})";

$media-min-layout-max: "only screen and (min-width: #{$width-layout-max})";

$media-max-phone: "only screen and (max-width: #{$width-phone-end})";
$media-max-phablet: "only screen and (max-width: #{$width-phablet-end})";
$media-max-tablet: "only screen and (max-width: #{$width-tablet-end})";
$media-max-laptop: "only screen and (max-width: #{$width-laptop-end})";

$media-only-phone: $media-max-phone;
$media-only-phablet: "only screen and (min-width: #{$width-phablet-start}) and (max-width: #{$width-phablet-end})";
$media-only-tablet: "only screen and (min-width: #{$width-tablet-start}) and (max-width: #{$width-tablet-end})";
$media-only-laptop: "only screen and (min-width: #{$width-laptop-start}) and (max-width: #{$width-laptop-end})";
$media-only-desktop: $media-min-desktop;

$media-not-phone: $media-min-phablet;
$media-not-phablet: "only screen and (max-width: #{$width-phone-end}), only screen and (min-width: #{$width-tablet-start})";
$media-not-tablet: "only screen and (max-width: #{$width-phablet-end}), only screen and (min-width: #{$width-laptop-start})";
$media-not-laptop: "only screen and (max-width: #{$width-tablet-end}), only screen and (min-width: #{$width-desktop-start})";
$media-not-desktop: $media-max-laptop;
