.brand-logos {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  justify-content: flex-start;
  text-align: left;

  &__item {
    min-width: 200px;

    & + & {
      margin-left: 50px;
    }
    @media #{$media-min-laptop} {
      & + & {
        margin-left: 0px;
      }
      min-width: 300px;
    }
  }
}
