.brand-logos {
  display: flex;
  padding: 25px 100px 55px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  &__item {
    min-width: 300px;
  }
}
