.offer-ranking-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-end;

  &__title {
    font-size: 14px;
    padding-right: $padding-normal;
  }

  &__line {
    flex-grow: 2;
    position: relative;
    padding-right: $padding-normal;

    &::after {
      position: absolute;
      bottom: 4px;
      content: " ";
      height: 2px;
      left: 0;
      width: 100%;
      background: $electric-violet;
    }
  }

  &__rating {
    padding-left: $padding-normal;
  }

  &__button {
    padding-left: $padding-normal;
  }
}
