.offer-ranking-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline;

  @media #{$media-min-phablet} {
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  &__title {
    font-size: 14px;
    padding-right: $padding-normal;
    text-align: left;
    flex-grow: 2;
    @media #{$media-min-phablet} {
      flex-grow: initial;
      flex-basis: auto;
    }
  }

  &__line {
    display: none;

    @media #{$media-min-phablet} {
      flex-grow: 1;
      display: block;
      position: relative;
      padding-right: $padding-normal;
      align-self: flex-end;
    }

    &::after {
      position: absolute;
      bottom: 4px;
      content: " ";
      height: 2px;
      left: 0;
      width: 100%;
      background: $electric-violet;
    }
  }

  &__rating {
    @media #{$media-min-phablet} {
      padding-left: $padding-normal;
    }
  }

  &__button {
    margin-top: $padding-normal;
    width: 100%;

    @media #{$media-min-phablet} {
      padding-left: $padding-normal;
      width: auto;
    }
  }
}
