.promo-section {
  background-color: #000000;
  padding-top: $padding-normal;
  padding-bottom: $padding-normal;

  @media #{$media-min-laptop} {
    align-content: center;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #ffffff;
    text-align: left;

    @include responsive-width();
  }

  &__column {
    padding-right: 38px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 600;
  }
}
