.rating-box {
  display: block;
  width: 77px;
  border-radius: 5px;
  padding: 8px;
  background-color: $sorrell-brown;
  text-align: center;
  color: $primary-color;

  &--squared {
    border-radius: 0;
  }

  &__title {
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
  }

  &__value {
    font-size: 16px;
    font-weight: bold;
  }
}
