.secondary-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  &__item {
    display: none;

    @media #{$media-min-laptop} {
      display: flex;
    }

    &--visible-mobile {
      @media #{$media-min-laptop} {
        display: flex;
      }
    }
  }

  &__separator {
    height: 36px;
    width: 50px;
    position: relative;

    &::after {
      height: 100%;
      width: 1px;
      content: " ";
      position: absolute;
      right: 50%;
      background-color: $default-border-color;
    }
  }
}
