.secondary-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .secondary-navigation li {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .secondary-navigation__separator {
    height: 36px;
    width: 50px;
    position: relative; }
    .secondary-navigation__separator::after {
      height: 100%;
      width: 1px;
      content: " ";
      position: absolute;
      right: 50%;
      background-color: #e7e7e7; }
