.button {
  background: $secondary-color;
  border: solid 1px $secondary-color;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 20px;
  display: block;
  margin-bottom: $padding-normal;
  text-decoration: none;

  @media #{$media-min-phablet} {
    & + & {
      margin-left: $padding-normal;
    }
  }

  @media #{$media-min-laptop} {
    max-width: 295px;
  }

  &--fullwidth {
    max-width: 100%;
  }

  &--ghost {
    background: none;
    border: solid 1px #ffffff;
  }

  &--red {
    background-color: #fa454b;
  }
}
