$button-colors: ("sorrel-brown", $sorrell-brown), ("red", red), ("green", $fern);

.button {
  background: none;
  border: solid 1px #ffffff;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 200ms linear;

  @each $color in $button-colors {
    $color-name: nth($color, 1);
    $value: nth($color, 2);

    &--#{$color-name} {
      background-color: $value;
      border: solid 1px $value;

      &:hover {
        background-color: darken($value, 10%);
        border-color: darken($value, 10%);
        cursor: pointer;
      }
    }
  }

  &--slim {
    padding: 10px 10px;
    font-size: 12px;
  }

  @media #{$media-min-phablet} {
    & + & {
      margin-left: $padding-normal;
    }
  }

  @media #{$media-min-laptop} {
    max-width: 295px;
  }

  &--fullwidth {
    max-width: 100%;
  }
}
