.link-item {
  display: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 0 25px;

  @media #{$media-min-laptop} {
    display: block;
  }
}
